.menu-title{
    color:black;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 600;

}


.logo { 
    padding: 10px 0.7rem !important;
}

.sidebar-wrapper {
    height: calc(113vh - 75px);
    overflow: auto;
  }

.app-side-open{
    width: 0px !important;
}

.sub-menu-li{
    padding : 5px;
}

.imgr{
    margin-bottom: 10px;
  }

 .titlep{
    padding-top: 5px;
 }


.fa{
    color: #068d8d !important; 
}



.nav-item .active{
    color: #9b111e !important;
    font-weight: bold !important;
}

.simple-text{
    font-weight:bold;
}


.menu-li a{
    font-size:15px;
}

.dropdown-toggle:after {
    font-size: 18px;
}

.logo-mini{
    position: relative;
    left: 10px;
    bottom: 7px;
}

 .simple-text h6{
    font-size: 15px;
    font-weight: 500;
}









  
