
.card0 {
    box-shadow: 0px 4px 6px 0px #757575;
    margin: auto;
    width: 40%;
}

.loginbtn{
    margin :auto;
    display: block;
}

@media screen and (max-width: 991px) {
    .logo {
        margin-left: 0px
    }

    .image {
        width: 300px;
        height: 220px
    }

    .border-line {
        border-right: none
    }

    .card2 {
        border-top: 1px solid #EEEEEE !important;
        margin: 0px 15px
    }
}