<nav class="navbar navbar-expand-lg fixed-top bg-color">
        <a class="navbar-brand">
        <img src="/assets/images/helpmetutors-new-logo-pp.png" width="200" height="auto" class="d-inline-block align-top" alt="" loading="lazy">
        </a>
    <button (click)="toggleSidebar()" class="navbar-toggler" type="button">
        <i aria-hidden="true" class="fa fa-bars text-muted"></i>
    </button>
     
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="javascript:void(0)">                  
                    {{greetingtxt}} <i [ngClass]="greetingicon"></i>, {{user.name}}
                </a>
             
            </li>
        </ul>
   
</nav>
