.menu-title{
    color:black !important;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 600;

}

.logo { 
    padding: 10px 0.7rem !important;
}

.sidebar-wrapper{
  /* width: 220px !important; */
  background: #f8f9fad1;
}

.sub-menu-li{
    padding : 5px;
}

.imgr{
    margin-bottom: 10px;
  }

 .titlep{
    padding-top: 5px;
 }


.fa{
    color: #068d8d !important; 
}

.sub-menu-li:hover,.nav .active{
    background: white !important;

}

.menu-li:hover{
    background: #6076ad !important;

}

.nav .active{
    background: #6076ad!important;
}

.simple-text{
    font-weight:bold;
}


.menu-li a{
    font-size:15px;
}

.dropdown-toggle:after {
    font-size: 18px;
}

.logo-mini{
    position: relative;
    left: 10px;
    bottom: 7px;
}

 .simple-text h6{
    font-size: 15px;
    font-weight: 500;
}

.fa{
    color: black !important;
}

.fa:hover{
    color: white !important;
}

