.custom-toolbar {
    background-color: #9585876e;
    border-radius: 5px;
    color: black;
    height: 14vh;
    justify-content: center;
    padding-top: 10px;
   
  }


  .breadcrumb-item{
    font-size: 12px;
  }