<!-- <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">Register</li>
    </ol>
  </nav> -->

  <div class="container px-1 px-md-5 px-lg-1 px-xl-5 py-5 mx-auto">
    <div class="card card0 border-0">
        <div class="row px-3 justify-content-center mt-4 border-line">
            <h4>Welcome to Helpmetutors!!</h4></div>
        <div class="row d-flex">
            <div class="col-lg-6">
                <div class="card1 pb-5">
                    <!-- <div class="row"> <img src="/assets/images/helpmetutors-logo.png" class="logo"> </div> -->   
                        <div class="row px-3 mt-4 mb-5 border-line   hmt-desc">
                            <h3><i class="fa fa-angle-double-right"></i>
                                In Brief:</h3><br><p class="text-1">
                                Helpmetutors is the teaching website, which offers services like home tuitions, online tuitions and homework help. We have well experienced home tutors and online teachers registered.
                                </p>
                                <h3><i class="fas fa-angle-double-right"></i>What we do:</h3><br><p class="text-2">
                                    We arrange teachers for parents who search for suitable tutors as per their requirement. Alongside, we provide students to school teachers who want to teach tuition during their leisure time.  Apart from this, we guide students in online homework help.                                 
                                    </p>
                                </div>       
                       </div>
            </div>
            <div class="col-lg-6">
                <div class="card2 border-0 px-4 py-5">
                    <div class="row mb-3 px-3">
                        <button type="submit" class="btn btn-primary registerBtn w-50" (click)="onButtonParentClick()">
                        <i class="fa fa-user-circle"></i>
                        Parent Signup</button>
                    </div>
                    <div class="row mb-3 px-3">
                        <button type="submit" class="btn btn-primary registerBtn w-50" (click)="onButtonTeacherClick()">
                        <i class="fa fa-chalkboard-teacher"></i>
                        Teacher Signup</button>
                    </div>  
                </div>
            </div>
        </div>
    </div>
</div>
