
<div id="carouselExampleCaptions" class="carousel slide">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" *ngFor="let item of slides">
         <img [alt]="item.id" class="d-block w-100"  [src]="item.image" />
      <div class="carousel-caption d-none d-md-block">
        <h5>{{item.title}}</h5>
        <p>{{item.subtitle}}</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
  
<div class="container-fluid hmt-container4">
    <div class="row">
      <div class="col-md">
        <h1 class="hmt-offer animate__animated animate__rubberBand">What we offer!!</h1>
        <p class="hmt-nelson">We arrange teachers for parents who search for suitable tutors as per their requirement.
          Alongside, we provide students to school teachers who want to teach tuition during their leisure time. Apart
          from this, we guide students in online homework help.</p>
      </div>
    </div>
    <div class="row row-offer">
  
      <div class="col-md">
        <div class="card hmt-card">
          <img class="card-img-top" src="/assets/images/hmt-onlinetuition.jpg" alt="Online Tuitions">
          <div class="card-body">
            <h5 class="card-title">Online Tuitions</h5>
            <p class="card-text">Online tutoring is getting more and more popular: it's the right solution once you want
              to share knowledge and be your own boss at an equivalent time. The demand for online private tuitions is
              increasing a day because of new technologies. Nowadays, it's possible to earn a living by being a web
              private tutor.</p>
            <!-- <a routerLink="/register" class="btn btn-danger button-offer">Register today</a> -->
          </div>
        </div>
      </div>
      <div class="col-md ">
        <div class="card hmt-card">
          <img class="card-img-top" src="/assets/images/hmt-hometuition.jpg" alt="Home Tuitions">
          <div class="card-body">
            <h5 class="card-title">Home Tuitions</h5>
            <p class="card-text">Private home tuition help students with personalized one-to-one attention and customised
              study plan that particularly address their weaker subject areas. The private home tutor will have the
              capacity to quickly identify the topic or topic during which a student is facing difficulty.</p>
            <!-- <a routerLink="/register" class="btn btn-danger button-offer">Register today</a> -->
          </div>
        </div>
      </div>
      <div class="col-md">
        <div class="card hmt-card">
          <img class="card-img-top" src="/assets/images/hmt-assignhelp.jpg" alt="Assignment Help">
          <div class="card-body">
            <h5 class="card-title">Assignment Help</h5>
            <p class="card-text">We help students with their various task writing related projects and queries. Connect
              with an assignment tutor online and obtain a prompt response for your query. Avail written help service to
              urge writing assistance and obtain detailed instructions from our expert assignment helpers, to assist you
              understand better.</p>
            <!-- <a routerLink="/register" class="btn btn-danger button-offer">Register today</a> -->
          </div>
        </div>
      </div>
    </div>
  
</div>
  <!-- courses -->
<div class="container">
    <div class="row">
      <div class="col-md">
        <h1 class="hmt-offer animate__animated animate__rubberBand">Courses categories</h1>
        <p class="hmt-nelson">“Education is the most dominant weapon which you can use to change the world.”
          Nelson Mandela</p>
      </div>
    </div>
</div>
   
  <!-- owl carousel testimonial start-->
<div class="container">
    <h1 style="text-align: center; margin-top: 20px;" class="hmt-customer animate__animated animate__rubberBand">Check
      what our parents and teachers are saying</h1>
      <div class="owl-carousel owl-theme mb-3 mt-3">
        <div class="item card p-2 me-2 " *ngFor="let item of reviewCarousel">  
         <div class=" card-body testi">
           <div class="card-image-top image-area">
             <img class="img-angular" [src]="item.image" class="card-img">
           </div>
           <div class="image-text">
             <h2 style="text-align: center;">{{item.name}}</h2>
             <div style="text-align: center;">
               <i class="fa fa-star checked"></i>
               <i class="fa fa-star checked"></i>
               <i class="fa fa-star checked"></i>
               <i class="fa fa-star checked"></i>
               <i class="fa fa-star checked"></i>
             </div>
             <p class="card-text">{{item.desc}}</p>
           </div>
         </div>
       
       </div>
       
      </div>
   
</div>

  <!-- owl carousel testimonial end -->
<div class="container-fluid">
    <div class="row">
      <div class="col-md-6 hmt-tutor">
        <div class="jumbotron jumbotron-fluid mt-5">
          <h1 class="display-4 hmt-join">Join as tutor</h1>
          <p class="lead hmt-tutordesc">Are you looking for part time home/online teacher jobs? Register your tutoring
            details below FREELY to find suitable.</p>
  
          <a class="btn btn-default btn-lg"  routerLink="/teacher-form"><i
              class="fas fa-chalkboard-teacher">&nbsp;Register today</i></a>
        </div>
      </div>
      <div class="col-md-6"> <img class="img-tutor" src="/assets/images/hmt-tutor1.png" class="card-img-top" alt="...">
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 hmt-parent"><img src="/assets/images/hmt-parent.png" class="card-img-top" alt="..."></div>
      <div class="col-md-6 hmt-parent1 mt-5">
        <div class="jumbotron jumbotron-fluid jumbo hmt-parent">
          <h1 class="display-4 hmt-trail">Book trail class</h1>
          <p class="lead hmt-parentdesc">This is a simple hero unit, a simple jumbotron-style component for calling extra
            attention to featured content or information.</p>
  
          <a class="btn btn-primary btn-lg" routerLink="/parent-form"><i
              class="fas fa-mouse">&nbsp;Click here</i></a>
        </div>
      </div>
    </div>
</div>
  
  <!-- contact us -->
<div class="jumbotron" style="background-color: white;">
    <div class="container-fluid text-center text-lg-left">
      <div class="row">
        <div class="col-lg-8 mt-5">
          <h1 class="lead">GOT A QUESTION?</h1>
          <h2 class="lead">We’re here to help and answer any question you might have. We look forward to hearing from you.
          </h2>
          <span class="text-center d-inline-block">
            <a class="btn btn-default btn-lg w-100" routerLink="/contact" ><i
                class="fas fa-mobile-alt">&nbsp;Contact us</i></a>
          </span>
  
        </div>
        <div class="col-lg-4 align-items-center d-flex">
          <img class="img-angular" src="/assets/images/hmt-contact1.png" class="card-img">
        </div>
      </div>
    </div>
</div>
