<div id="footer">
    <div class="row">
        <div class="col-md-4">
            <!-- <ul class="list-unstyled quick-links">
                <li><a href="/faqs">FAQs</a></li>
                <li><a href="/registeredtutors">Registered Tutors</a></li>
                <li><a href="/tutorjobs">Tutor Jobs</a></li>
                <li><a href="/">Testimonials</a></li>
            </ul> -->

        </div>
        <div class="col-md-4 btn btn-social-icon btn-facebook btn-rounded" style="background: transparent;">
            <ul class="list-unstyled list-inline social">

                <li class="list-inline-item"><a href="https://www.facebook.com/helpmetutors" target="_blank"><i class="fa-brands fa-facebook"></i></a></li>
                <li class="list-inline-item"><a href="https://www.instagram.com/helpmetutors" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
                <li class="list-inline-item"><a href="mailto:helpmetutors123@gmail.com" target="_blank">
                  <i class="fa-regular fa-envelope"></i></a>
                </li>
                
            </ul>
        </div>
        <div class="col-md-4">
            
            <!-- <ul class="list-unstyled quick-links">
                <li><a href="/disclaimer">Disclaimer</a></li>
                <li><a href="/privacypolicy">Privacy policy</a></li>
                <li><a href="/contact">Support</a></li>
                <li><a href="/termsandconditions">Terms and Conditions</a></li>
            </ul> -->
        </div>
        <hr>
    </div>	
    <div class="row hmt-footer3">
        <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white" id="hmt-text">
            <p><u>Helpmetutors&nbsp;</u> arrange teachers for parents who search for suitable tutors as per their requirement.<br> Alongside, we provide students to school teachers who want to teach tuition during their leisure time.Apart from this, we guide students in online homework help.</p>
            <!-- <p class="h6">Helpmetutors 2017 © All Rights Reversed.</p> -->
        </div>
        <hr>
    </div>
</div>
