<nav id="navbar_top" class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <a class="navbar-brand"><img src="/assets/images/helpmetutors-new-logo-pp.png" width="200" height="auto" class="d-inline-block align-top" alt="" loading="lazy">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" routerLink="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/about">How it works</a>
          </li>
          <li class="nav-item">
            <a class="nav-link hmt-contact" routerLink="/teaching-jobs">Tutor Jobs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link hmt-contact" routerLink="/contact">Contact</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Register
            </a>
            <ul class="dropdown-menu navbar-expand-lg">
              <li><a class="nav-link" routerLink="/teacher-form">Teacher</a></li>
              <li> <a class="nav-link" routerLink="/parent-form">Parent</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/login">Login</a>
          </li>
        </ul>
        
      </div>
    </div>
  </nav>